body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: #EEEEEE;
}

p {
    width: 640px;
    margin: 12px auto;
    text-align: center;
}

p.instructions {
    height: 112px;
    overflow-y: auto;
}

p.footnote {
    height: 56px;
}

p.notice {
    font-size: 12px;
    color: #444444;
    text-align: center;
}

pre {
    font-family: Courier New, Courier, monospace;
    width: 616px;
    height: 162px;
    margin: 36px auto;
    padding: 12px;
    border: 1px lightgray solid;
    background-color: #DDDDDD;
    overflow-y: auto;
}

textarea {
    display: block;
    width: 640px;
    margin: 12px auto;
    height: 240px;
    font-size: 24px;
}

div.controls {
    width: 640px;
    margin: 12px auto;
}

div.controls input {
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: 0px;
}

div.cards {
    width: 640px;
    margin: 12px auto;
}

div.blackCards {
    width: 640px;
    margin: 12px auto;
}

div.card {
    display: inline-flex;
    flex-wrap: wrap;
    width: 152px;
    height: 220px;
    margin-bottom: 6px;
    border-radius: 12px;
    font-size: 16px;
}

div.card p {
    width: auto;
    text-align: left;
    margin: 12px;
}

div.cards div.card {
    background-color: white;
    border: 1px black solid;
    color: black;
}

div.blackCards div.card {
    background-color: black;
    border: 1px white solid;
    color: white;
}